<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
</head>

<body>
 <div class="login">
	<h1>Predict House Price</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" id="longitude" name="longitude" placeholder="Longitude" required="required" />
      <input type="text" id="latitude" name="latitude" placeholder="latitude" required="required" />
      <input type="text" id="housing_median_age" name="housing_median_age" placeholder="housing_median_age" required="required" />
      <input type="text" id="total_rooms" name="total_rooms" placeholder="total_rooms" required="required" />
      <input type="text" id="total_bedrooms" name="total_bedrooms" placeholder="total_bedrooms" required="required" />
      <input type="text" id="population" name="population" placeholder="population" required="required" />
      <input type="text" id="households" name="households" placeholder="households" required="required" />
      <input type="text" id="median_incom" name="median_incom" placeholder="median_incom" required="required" />
   


  
<p>Ocean Proxemity</p>
   <!-- Surround the select box within a "custom-select" DIV element.
Remember to set the width: -->

<br>
										
												<select class="form-control select" name="ocean_proximity">
													
													<option value="INLAND"> INLAND  </option>
													<option value="NEAR OCEAN"> NEAR OCEAN </option>
													<option value="NEAR BAY"> NEAR BAY</option>
													<option value="ISLAND "> ISLAND </option>
												   
												</select>
												<br>
								   <input type="submit" class="  btn-primary btn-block btn-lg uu ">
								   <br>
								</div>
								<div style="text-align:right; margin-top:350px;">
								  <textarea rows="2" cols="25" style="text-align:right;padding-right:30px ">{{prediction_text}}</textarea></div>
							</div>	
							</form>
							
						   </div>
					
	     
    </form>
	
</div>
</body>
</html>
